/* Appointment History Page */

.appointment-total-app {
    margin-top: 2%;
    margin-left: 2%;
}

.text-history {
    color: #038dce;
    margin-left: 40px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.text-add-icon {
    background-color: #007bff;
    border: none;
    cursor: pointer;
    margin-left: 80%;
    color: white;
    align-items: center;
}

.text-add-icon:hover {
    background-color: #3d50ae;
}

.text-table {
    border-collapse: none;
    width: 100%;
}

.text-add {
    background-color: #007bff;
    color: white;
    width: 20%;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 77%;
    align-items: center;
}

.text-add:hover {
    background-color: #3d50ae;
}

.text-add button {
    background-color: #007bff;
    border: none;
    color: white;
    align-items: center;
    cursor: pointer;
}

.text-add button:hover {
    background-color: #3d50ae;
}

.text-add-icon-1 {
    margin-left: 23px;
    font-size: 20px;
    margin-top: 5px;
}

.text-add-text {
    font-size: 15px;
    font-weight: bold;
}

.text-compelte {
    border: 1px solid;
    height: 30px;
    width: 97%;
    margin-top: 10px;
    border-collapse: collapse;
}

.text-color {
    background-color: #007bff;
    color: white;
    height: 35px;
    border: none;
    width: 100%;
    border-collapse: collapse;
}

.set-icon1 {
    color: #038dce;
    height: 20px;
    width: 40px;
}

.text-body {
    height: 30px;
    width: 100%;
    border: 1px solid;
}

.text-firstrow {
    height: 25px;
    width: 100%;
    background-color: #007bff;
}

.text-secondrow {
    height: 25px;
    width: 100%;
    background-color: whitesmoke;
}

/* Appointment Form Styling */

.hist-asd {
    height: 80vh;
    width: 450px;
    box-shadow: 0px 0px 3px;
    background-color: white;
    text-align: center;
}

.hist-firstcontent {
    border: 1px solid;
    background-color: #038dce;
    color: white;
    height: 50px;
    width: 450px;
    display: flex;
    flex-direction: row;
}

.hist-start {
    font-size: 20px;
    margin-top: 15px;
}

.hist-on {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: #038dce;
    color: white;
}

.hist-iconclose {
    height: 20px;
    width: 30px;
    border: none;
    cursor: pointer;
}

.hist-thirdcontent {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    margin-top: 10px;
}

.hist-one {
    padding-left: 10px;
}

.hist-fourthcontent-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hist-fourthcontent-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.hist-patient {
    margin-left: 20px;
    color: black;
}

.hist-count {
    margin-left: 45px;
    width: 270px;
    height: 35px;
    margin-top: 10px;
}

.hist-time {
    margin-left: 18px;
    margin-top: 10px;
    color: black;
}

.hist-label {
    margin-left: -45px;
    height: 45px;
    width: 420px;
    margin-top: 6px;
}

.hist-time-icon {
    height: 15px;
    width: 35px;
    margin-top: 8px;
    margin-left: -50px;
}

.hist-fivecontent {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hist-chair {
    margin-left: 20px;
    color: black;
    margin-top: 20px;
}

.hist-drop {
    margin-left: 30px;
    margin-top: 20px;
    width: 271px;
    height: 36px;
}

.hist-sixthcontent {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.hist-treat {
    margin-left: 20px;
    color: black;
    margin-top: 10px;
}

.hist-ten {
    margin-left: 21px;
    margin-top: 10px;
    width: 263px;
    height: 35px;
}

.hist-seventhcontent {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.hist-note {
    color: black;
    margin-left: 22px;
}

.hist-fication {
    color: black;
    margin-left: 20px;
}

.hist-input {
    margin-left: 48px;
    margin-top: 10px;
    width: 267px;
    height: 90px;
    box-shadow: 0px 0px 5px;
    border: none;
    outline: 0;
}

.hist-seventhcontent-1 {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
}

.ment-eighthcontent {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.ment-iu {
    padding-left: 10px;
}

.appointpageclass {
    display: flex;
    margin-left: 70%;
}

.appointpagebut {
    background-color: #007bff;
    cursor: pointer;
    width: 50px;
    height: 30px;
    border: none;
    color: white;
}

.appointpagebut:hover {
    background-color: #3d50ae;
}

/* Add whitesmoke border to table, th, and td elements */

.text-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid whitesmoke; /* Add this line to set the border */
}

.textth,
.texttd {
    border: 1px solid whitesmoke; /* Add this line to set the border */
}

/* Other CSS styles */

/* ... (rest of your existing styles) */



.hist-check {
    padding-left: 20px;
}

/* Responsive Styles */

@media (max-width: 768px) {
    .text-history {
        font-size: 15px;
    }

    .text-add {
        height: 25px;
        width: 150px;
        background-color: #038dce;
        color: white;
        margin-left: 65%;
        border: none;
    }

    .text-compelte {
        border: 1px solid;
        height: 30px;
        width: 100%;
        font-size: 10px;
        margin-top: 10px;
    }
}
