.doctor-form-control14{
    height: 30px;
    width: 20%;
}

.button{
    height: 30px;
    width: 20%;
    background-color: aqua;
}

.search{
    height: 30px;
    width: 21%;
    border-radius: 5px;
}
.table{
    background-color: gray;
    
}

.tablebody{
    background-color: white;

}