.Formsq2{
width: 90%;
margin-left: 2%;
margin-top: -1%;
}
.Invest-successfully{
height: 30px;
/* width: 200px; */
margin-left: -10%;
background-color: green;
color: white;
}


.butpagenation1235{
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
}

.pat-footer33pat123 {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.pat-bottom-num33pat123{
  color: black;
  margin: 9px 10px;
  font-size: 13px;
}
.personal-row{
display: flex;
flex-direction: row;
}
.personal-icon10{
margin: 5px;
}
.personal-success{
margin-top: 2px;
}
.invest-main{
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.144);
  border-width: 1px;
  height: 200px;
  width: 100%;
  margin: 20px;

}
.invest-add{
  margin-left: 85%;
  margin-top: 20px;
}
.invest-table1{
  margin: 20px;
}
.Invest-button{
  height: 30px;
  width: 86%;
  border: none;
  background-color:  #007bff;
  cursor: pointer;
  color: white;
}

.Invest-button:hover{
  background-color: #3d50ae;
  
}
.invest{
  margin-left: -100px;
}
.invest-table{
  width:100%;
  height: 40px;
  border: 1px solid rgb(209, 203, 203);
  border-collapse: collapse;
  text-align: center;
}
.invest-thead{
  border: 1px solid rgb(209, 203, 203);
  border-collapse: collapse;
  background-color:#007bff;
  color: white;
  font-size: 14px;
  height: 40px;
  width: 100%;

}
.invest-tablebody{
  border-collapse: collapse;
  height: 40px;
  width: 100%;
  text-align:center;
  align-items: center;
}
.invest-headrow th{
margin: 10px 30px;
}

/* th,td {
  align-items: center;  
} */
.invest-icon0{
  margin-top: 10px;
}
.invest-popup{
  height: 50%;
  width: 95%;
  border: none;
  box-shadow: 10px;
  background-color: white;
}
.invest-row{
  display: flex;
  flex-direction: row;
 
}
.invest-column{
  display: flex;
  flex-direction: column;
}
.invest-icon10{
  height: 20px;
  width: 20px;
}
/* hr{
  height: 0.5px;
  color: rgba(0, 0, 0, 0.192);
  width: 100%;
  } */
.invest-investigation{
  margin-top: 10px;
  margin-left: 10px;
  /* background-color: #007bff;
  color: white; */
}
.insert-attributes{
  margin: 10px;
}
.invest-icons{
  margin-top: 15px;
  margin-left: 80%;
}
.invest-box{
  height: 50px;
  width: 95%;
  margin: 20px;
  border: solid;
  border-width: 0.5px;
  border-color: rgba(0, 0, 0, 0.192);
}
.invest-place{
  height: 25px;
  width: 43%;
  border: none;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 5px;
}
.invest-date{
  margin-top: 10px;
  margin-left: 1%;
}
.insert-box1{
  height: 50px;
  width: 95%;
  margin-left: 20px;
  margin-top: 20px;
  border: solid;
  border-bottom: none;
  border-width: 0.5px;
  border-color: rgba(0, 0, 0, 0.192);
}
.insert-box-2{

  height: 250px;
  width: 95%;
  margin-left: 20px;
  border: solid;
  border-width: 0.5px;
  border-color: rgba(0, 0, 0, 0.192);

}
.insert-name2{
  margin-top: 10px;
  margin-left: 50px;
  height: 30px;
  width: 40%;

}
.insert-name1{
  margin: 10px;
}
.insert-blood2{
  margin-top: 10px;
  margin-left: 30px;
  height: 30px;
  width: 40%;

}
.insert-blood1{
  margin: 10px;
}
.insert-sugar2{
  margin-top: 10px;
  margin-left: 55px;
  height: 30px;
  width: 40%;


}
.insert-sugar1{
  margin: 10px;
}
.insert-weight2{
  margin-top: 10px;
  height: 30px;
  width: 40%;
  margin-left: 130px;



}
.insert-weight1{
  margin: 10px;
  margin-left: 15px;

}
 .insert-oxygen2{
  margin-top: 15px;
  margin-left: 40px;
  height: 30px;
  width: 40%;


}
.insert-oxygen1{
  margin: 10px;
  margin-left: 15px;
} 
.insert-button8{
  margin-top: 80px;
  margin-left: 250px;
}
.insert-button9{
  height: 20%;
  width: 80%;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
}
.insert-button9:hover{
  background-color: #3d50ae;
}
.Invest-0{
  border: none;
  background-color: white;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.int{
  border: none;
  background-color: #007bff;
  color: white;
  align-items: center;
  cursor: pointer;
  margin-left: 5px;
  width: 100%;

}
.int:hover{
  background-color: #3d50ae ;
}

.int11{
  border: none;
  background-color: #007bff;
  color: white;
  align-items: center;
  cursor: pointer;
margin-left: 27%;
}
.int11:hover{
  background-color: #3d50ae ;
}
.quit{
  height: 20px;
  width: 20px;
}
.delete{
  font-size: 14px;
  margin-top: 10px;
  margin-left: 5px;
  color: blue;

}
.delete:hover{
  background-color: rgba(0, 0, 0, 0.185);
}
.profile-pop{
  height: 60px;
  width: 200px;
  box-shadow: 1px 1px 2px 1px gray;
}
.invest-popup18{
  height: 200px;
  width: 400px;
  background-color: white;
  box-shadow: 1px  1px  1px  1px black;
}
.profile-check5q{
color: white;
background-color: #007bff;
font-size: 13px;
cursor: pointer;
border: none;
width: 100%;
align-items: center;
margin-top: 5px;
margin-left: 5px;
}

.profile-check5q:hover{
  background-color: #3d50ae;
}
.invest-formsss{
  height: 50px;
  width: 400px;
  background-color: blue;
  color: white;
}
.invest-button41{
  margin-left: 250px;
  margin-top: 15px;

}
.invest-button42{
  height: 20px;
  width: 20px;
  background-color: blue;
  border: none;

}
.invest-com{
  margin-top: 15px;
  margin-left: 50px;
}
.invest-iconw{
  color: white;
  height: 15px;
  width: 15px;
}
.invest-text90{
  font-size: 14px;
  margin-top: 10px;
  margin-left: 50px;
}
.invest-33{
  height: 30px;
  width: 50px;
  border: none;
  box-shadow: 1px 1px 1px 1px gray;
}
.invest-30{
  margin-top: 30px;
  margin-left: 200px;
}
.invest-31{
  margin-top: 30px;
  margin-left: 30px;
}
@media(max-width:768px){

.invest-main{
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.144);
  border-width: 1px;
  height: 30%;
  width: 95%;

}
.invest-add{
  margin-left: 80%;
  margin-top: 5%;
}
.invest-table1{
  margin: 5%;
}
.Invest-button{
  height: 10%;
  width: 70%;
  border: none;
  background-color:  rgb(28, 28, 109);
  color: white;
  font-size: 10px;
}
.invest{
  margin-left: -100%;
}
.invest-table{
  width:100%;
  height: 40%;
  border: 1px solid rgb(209, 203, 203);
  border-collapse: collapse;
  text-align: center;
}
.invest-thead{
  border: 1px solid rgb(209, 203, 203);
  border-collapse: collapse;
  background-color: rgb(140, 140, 140);
  font-size: 14px;
  height: 40%;
  width: 100%;

}
.invest-tablebody{
  border-collapse: collapse;
  height: 20%;
  width: 100%;
  text-align:center;
  align-items: center;
}
.invest-headrow th{
margin: 10px 30px;
}

.invest {
  align-items: center;  
  font-size: 10px;
}
.invest-icon0{
  margin-top: 10px;
}
.invest-popup{
  height: 50%;
  width: 100%;
  border: none;
  box-shadow: 1px 1px 1px 1px black;
  background-color: white;
  margin-bottom: 100px;
}
.invest-row{
  display: flex;
  flex-direction: row;
}

.invest123{
  display: flex;
  flex-direction: row;
  background-color: #007bff;
}
.invest-column{
  display: flex;
  flex-direction: column;
}
.invest-icon10{
  height: 10%;
  width: 20px;
}
/* hr{
  height: 0.5px;
  color: rgba(0, 0, 0, 0.192);
  width: 100%;
  } */
.invest-investigation{
  margin-top: 10px;
  margin-left: 10px;
  background-color: #007bff;
}
.insert-attributes{
  margin: 10px;
}
.invest-icons{
  margin-top: 15px;
  margin-left: 250px;
}
.invest-box{
  height: 25px;
  width: 95%;
  margin: 10px;
  border: solid;
  border-width: 0.5px;
  border-color: rgba(0, 0, 0, 0.192);
}
.invest-place{
  height: 25px;
  font-size: 10px;
  width: 50%;
  border: none;
  margin-top: 0px;
  margin-left: 5px;
}
.invest-date{
  margin-top: 5px;
  margin-left: 200px;
  font-size: 10px;
}
.invest-place{
  font-size: 10px;
  width: 50px;
}
.insert-box1{
  height: 25px;
  width: 95%;
  margin-left: 10px;
  margin-top: 10px;
  border: solid;
  border-bottom: none;
  border-width: 0.5px;
  border-color: rgba(0, 0, 0, 0.192);
}
.insert-box-2{

  height: 150px;
  width: 95%;
  margin-left: 10px;
  border: solid;
  border-width: 0.5px;
  border-color: rgba(0, 0, 0, 0.192);

}
.insert-name2{
  margin-top: 10px;
  margin-left: 23px;
  height: 10px;
  width: 60px;
  font-size: 10px;

}
.insert-name1{
  margin: 5px;
  font-size: 10px;
}
.insert-blood2{
  margin-top: 10px;
  margin-left: 10px;
  height: 10px;
  width: 60px;
  font-size: 10px;
}
.insert-blood1{
  margin: 5px;
  font-size: 10px;

}
.insert-sugar2{
  margin-top: 10px;
  margin-left: 23px;
  height: 10px;
  width: 60px;
  font-size: 10px;


}
.insert-sugar1{
  margin-top: 5px;
  margin-left: 5px;
  font-size: 10px;
}
.insert-weight2{
  margin-top: 10px;
  height: 10px;
  width: 60px;
  margin-left: 63px;
  font-size: 10px;



}
.insert-weight1{
  margin: 5px;
  font-size: 10px;
  margin-left: 15px;

}
 .insert-oxygen2{
  margin-top: 15px;
  margin-left: 10px;
  height: 10px;
  width: 60px;
  font-size: 10px;


}
.insert-oxygen1{
  margin: 5px;
  font-size: 10px;
  margin-left: 15px;
} 
.insert-button8{
  margin-top: 40px;
  margin-left: 80px;
}
.insert-button9{
  height: 20%;
  width: 80%;
  font-size: 10px;
  background-color: rgb(28, 28, 109);
  border: none;
  color: white;
}
.Invest-0{
  border: none;
  background-color: white;
  cursor: pointer;
}
.int{
  border: none;
  background-color: white;
  color: blue;
  font-size: 8px;
}
.int:hover{
  background-color: rgba(0, 0, 0, 0.185) ;
}
.quit{
  height: 20px;
  width: 20px;
}
.deletes{
  font-size: 8px;
  margin-top: 1px;
  margin-left: 5px;
  color: blue;
  border: none;
  background-color: white

}
.profile-check5q{
  font-size: 8px;
  margin-left: 1px;
  margin-right: 1px;
}
.deletes:hover{
  background-color: rgba(0, 0, 0, 0.185);
}

.profile-pop{
  height: 30px;
  width: 80px;
  font-size: 7px;
  box-shadow: 1px 1px 2px 1px gray;
}
.invest-popup18{
  height: 150px;
  width: 300px;
  background-color: white;
  box-shadow: 1px  1px  1px  1px black;
}
.invest-formsss{
  height: 50px;
  width: 300px;
  background-color: blue;
  color: white;
  font-size: 13px;
}
.invest-button41{
  margin-left: 150px;
  margin-top: 15px;

}
.invest-button42{
  height: 20px;
  width: 20px;
  background-color: blue;
  border: none;

}
.invest-com{
  margin-top: 15px;
  margin-left: 50px;
}
.invest-iconw{
  color: white;
  height: 15px;
  width: 15px;
}
.invest-text90{
  font-size: 10px;
  margin-top: 10px;
  margin-left: 50px;
}
.invest-33{
  height: 15px;
  width: 25px;
  border: none;
  font-size: 10px;
  box-shadow: 1px 1px 1px 1px gray;
}
.invest-30{
  margin-top: 10px;
  margin-left: 150px;
}
.invest-31{
  margin-top: 10px;
  margin-left: 10px;
}



.Invest-successfully{
height: 25px;
align-items: center;
width: 100px;
margin-left: -10%;
background-color: green;
color: white;

}
.personal-row{
display: flex;
flex-direction: row;
}
.personal-icon10{
margin: 1px;
}
.personal-icon0{
height: 10px;
width: 10px;
}
.personal-success{
margin-top: 6px;
margin-left: 1px;
font-size: 10px;
}

}