.App {
  text-align: center;
}



.Vaneey{
  border-collapse: collapse;
  width: 68%;
  margin: 40px auto;
  font-family: Arial, sans-serif;
  margin-right: 510px;
margin-top: -298px;
cursor: pointer;

}